html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#root {
    overflow: hidden;
}

.simulation-container,
.simulation-canvas {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}